# Simulation Artifacts
*.vcd
*.hex
app.hex
logs/
coverage.datvvp
sim_build/
build/
*.gtkw
obj_dir/

# Compiled Binaries
tests/sim_headless
sim/display/virtual_screen

# Logs / Debugging
logs/

# Generated Tests & Results
tests/results/
*.hex

# IDE/Editor
.vscode/
.idea/
*.swp

# Other
.DS_Store
Thumbs.db
brain/

# Python
__pycache__/
*.pyc
